*{
    margin: 0px;
    padding:0px;
}


.nav {
      background-color:rgb(133, 129, 129);
      display:flex;
      
      justify-content: center;
}
.nav ul {
      width:760px;
      text-align:left;
    
}
.nav ul li {
    display: inline-block;
    list-style: none;
    text-indent: 10px;
}
.button {
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    float: right;
   
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(47, 48, 47);
    
}
      
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(33, 34, 34);
   
} 
 